<%- include("partials/header") %>
  <h1>fastfoodRatings</h1>
  <p>Review fast food chain locations and see current weather for each location.</p>

  <div class="card">
    <a href="/restaurants">Browse locations</a>
  </div>
<%- include("partials/footer") %>
