<%- include("../partials/header") %>

<h2>Add a Location</h2>

<div class="panel">
  <form method="POST" action="/restaurants" class="form">
    <label>Chain</label>
    <select name="chain" required>
      <% chains.forEach(c => { %>
        <option value="<%= c.chain %>"><%= c.chain %></option>
      <% }) %>
    </select>

    <label>Location Name</label>
    <input name="locationName" required />

    <label>City</label>
    <input name="city" required />

    <label>State</label>
    <input name="state" required />

    <label>Address (optional)</label>
    <input name="address" />

    <button type="submit">Create</button>
  </form>
</div>

<%- include("../partials/footer") %>
